#!/bin/sh
#
# $NetBSD: hetzner_ddns,v 0.2.2 2012/06/10 00:00:00 filiparag Exp $
#

# PROVIDE: hetzner_ddns
# REQUIRE: LOGIN

$_rc_subr_loaded . /etc/rc.subr

export PATH="$PATH:/usr/local/bin"

name="hetzner_ddns"
rcvar=$name
command="/usr/local/bin/${name}"
command_args="--daemon"
required_files="/usr/local/etc/${name}.conf"
pidfile="/var/run/${name}.pid"
procname="/bin/sh"

run_rc_command "$1"
