[Unit]
Description=Hetzner Dynamic DNS
Documentation=man:hetzner_ddns(1)
After=network.target

[Service]
Type=simple
User=daemon
Group=root
ExecStart=/usr/local/bin/hetzner_ddns -V -c /usr/local/etc/hetzner_ddns.json
ExecReload=kill -SIGUSR1 $MAINPID
KillSignal=SIGTERM
Restart=always
RestartSec=60

PermissionsStartOnly=true
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target
